/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Reset */

/* HEADER */
/* header-top */
.header-top {
  background-color: #add8e6;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}
/* header-top */

/* section top */
.sezione-top {
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  background-color: #daa520;
  justify-content: space-between;
}

.logo {
  width: 200px;
  border: 2px dashed black;
  padding: 5px;
}

.link {
  width: 600px;
  border: 2px dashed black;
  text-align: center;
  padding: 5px;
}

.login {
  width: 200px;
  border: 2px dashed black;
  text-align: end;
  padding: 5px;
}
/* section top */

/* header-bottom */
.header-bottom {
  display: flex;
  background-color: #00008b;
}
/* header-bottom */

/* section-bottom */
.sezione-bottom {
  height: 400px;
  display: flex;
  margin: 0 auto;
  padding: 30px;
}

.rettangolo-rosa {
  margin: 20px auto;
  width: 700px;
  height: 300px;
  border: 2px dashed black;
  background-color: #ee82ee;
}
/* section-bottom */
/* HEADER */

/* MAIN */
.main {
  padding: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* Section-1 */
.section-1 {
  display: flex;
  width: 800px;
  justify-content: flex-end;
}

.box-1 {
  height: 400px;
  width: 60%;
  background-color: #1e90ff;
  border: 2px dashed black;
}

.box-2 {
  height: 400px;
  width: 40%;
  background-color: #ffc0cb;
  border: 2px dashed black;
}
/* Section-1 */

.section-2 {
}
